*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}

#wrapper{
    height:100vh;
    width:100vw;
    display:flex;
    justify-content: center;
    align-items:center;

}
.pink-button{
    background-color: red;
    color:aliceblue;
    padding: 0.8rem 2.3rem;
    box-shadow:  2px 2px 5px black ;
    font-size: 10px ;
    position:relative;
    z-index: 1;
}
.pink-button::before{
    content:'';
    background-color: black;
    position:absolute;
    right:0;
    left: 0;
    top:0;
    bottom:0;
    transform:scaleX(0);
    transform-origin: left;
    transition: all 1s;
    z-index: -1;
}
.pink-button:hover::before{
    content:'';
    background-color: black;
    position:absolute;
    right:0;
    left: 0;
    top:0;
    bottom:0;
    transform:scaleX(1);
    transform-origin: left;
    transition: all 1s;
    z-index: -1;
}